@font-face {
    font-family: Titulos;
    src: url(../fuentes/RobotoSlab-VariableFont_wght.ttf);
}
label{

    display: block;
    height: 100px;
    color: rgb(250, 250, 250);
    font-size: 25px;
    font-family: Titulos;
}
fieldset{
    border: 0;
}
input{
    border: 2px solid #000;
    display: block;
    height: 20px;
    width: 400px;
    
}
body{
    background-image: url(../Imagenes/espiral-de-colores_3840x2400_xtrafondos.com.jpg);
    background-size: cover;
}
header{
    border: 4px solid #000;
    border-radius: 20px 20px 20px 20px;
    background-color: #f9a38767;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
}
legend{
    border-radius: 16px 16px 0px 0px;
    background-color: #26051dc4;
    color: #FFFF;
    text-align: center;
    font-family: Titulos;
    height: 30px;
    font-size: 25px;
}
button{
    display:inline-block;
    height: 35px;
    width: 100px;
    font-family: Titulos;
    font-size: 18px;

}